In [1]:
import os
os.chdir('A:\\Imarticus\\python\\week2')

In [2]:
import pandas as pd
train_data=pd.read_csv("R_Module_Day_7.2_Credit_Risk_Train_data.csv")
test_data=pd.read_csv("R_Module_Day_8.2_Credit_Risk_Test_data.csv")

In [3]:
import pandas as pd

In [4]:
train_data['Source']='Train'
test_data['Source']='Test'
full_data=pd.concat([train_data,test_data],axis=0)

In [5]:
import numpy as np

#full_data.Dependents.dtype

In [6]:
full_data.Dependents=np.where(full_data.Dependents=='3+',3,full_data.Dependents).astype(float)

In [7]:
full_data.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents           float64
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
Source                object
dtype: object

In [8]:
full_data.isnull().sum()

Loan_ID               0
Gender               24
Married               3
Dependents           25
Education             0
Self_Employed        55
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           27
Loan_Amount_Term     20
Credit_History       79
Property_Area         0
Loan_Status           0
Source                0
dtype: int64

In [9]:
for i in range(len(full_data.columns)):
    print(full_data.columns[i])
    if(full_data.iloc[:,i].dtype==object):
        if(full_data.iloc[:,i].isnull().sum()>0):
            full_data.iloc[:,i].fillna(full_data.iloc[:,i][full_data.Source=='Train'].mode()[0], inplace=True)
            #print("1")
    else:
        #print("2")
        full_data.iloc[:,i].fillna(full_data.iloc[:,i][full_data.Source=='Train'].median(), inplace=True)

Loan_ID
Gender
Married
Dependents
Education
Self_Employed
ApplicantIncome
CoapplicantIncome
LoanAmount
Loan_Amount_Term
Credit_History
Property_Area
Loan_Status
Source

In [10]:
full_data.isnull().sum()
#full_data['gender']

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
Source               0
dtype: int64

In [11]:
full_data['Gender'].dtype
np.percentile(full_data['LoanAmount'],50)

128.0

In [12]:
q1=[]
q3=[]
col_list=[]
for cols in full_data:
    if(full_data[cols].dtype!='object'):
        col_list.append(cols)
        q1.append(np.percentile(full_data[cols],25))
        q3.append(np.percentile(full_data[cols],75))

In [ ]:
'''def outliers_iqr(df):
    import numpy as np
    for cols in list(df):
        if(df[cols].dtype!='object'):
            q1=np.percentile(df[cols],25)
            q3=np.percentile(df[cols],75)
            upper=q3+1.5*(q3-q1)
            lower=q1-1.5*(q3-q1)
            df[cols]=np.where(df[cols]>upper,upper,df[cols])
            df[cols]=np.where(df[cols]<lower,lower,df[cols])
    return(df)'''

In [13]:
q3

[2.0, 5516.0, 2365.0, 160.0, 360.0, 1.0]

In [14]:
upper=[]
lower=[]
for i in range(len(q1)):
        upper.append(q3[i]+(1.5*(q3[i]-q1[i])))
        lower.append(q1[i]-(1.5*(q3[i]-q1[i])))

In [15]:
upper,lower

([5.0, 9477.5, 5912.5, 248.5, 360.0, 1.0],
 [-3.0, -1086.5, -3547.5, 12.5, 360.0, 1.0])

In [16]:
for i in range(len(upper)):
    full_data[col_list[i]]=np.where(full_data[col_list[i]] >upper[i],upper[i],full_data[col_list[i]])
    full_data[col_list[i]]=np.where(full_data[col_list[i]] >upper[i],upper[i],full_data[col_list[i]])

In [17]:
import matplotlib.pyplot as plt

In [18]:
list1=['Gender','Married','Education','Self_Employed','Property_Area']

In [19]:
df_dummies=pd.get_dummies(full_data[list1],drop_first=True)

In [20]:
df_dummies.shape

(981, 6)

In [21]:
full_data.Loan_Status=np.where(full_data.Loan_Status=='N',1,0)

In [22]:
cols_to_rem=list1
cols_to_rem.append('Load_ID')

In [23]:
cols_to_rem.remove('Load_ID')

In [24]:
cols_to_rem

['Gender', 'Married', 'Education', 'Self_Employed', 'Property_Area']

In [25]:
full_data1=full_data.drop(cols_to_rem, axis=1).copy()

In [26]:
full_data1=full_data1.drop(['Loan_ID'],axis=1).copy()
full_data1.columns

Index(['Dependents', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Loan_Status', 'Source'],
      dtype='object')

In [27]:
full_data1.head()

,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status,Source
0,0.0,5849.0,0.0,128.0,360.0,1.0,0,Train
1,1.0,4583.0,1508.0,128.0,360.0,1.0,1,Train
2,0.0,3000.0,0.0,66.0,360.0,1.0,0,Train
3,0.0,2583.0,2358.0,120.0,360.0,1.0,0,Train
4,0.0,6000.0,0.0,141.0,360.0,1.0,0,Train

In [28]:
full_data2=pd.concat([full_data1,df_dummies],axis=1)

In [29]:
full_data2.shape

(981, 14)

In [30]:
full_data2

,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status,Source,Gender_Male,Married_Yes,Education_Not Graduate,Self_Employed_Yes,Property_Area_Semiurban,Property_Area_Urban
0,0.0,5849.0,0.0,128.0,360.0,1.0,0,Train,1,0,0,0,0,1
1,1.0,4583.0,1508.0,128.0,360.0,1.0,1,Train,1,1,0,0,0,0
2,0.0,3000.0,0.0,66.0,360.0,1.0,0,Train,1,1,0,1,0,1
3,0.0,2583.0,2358.0,120.0,360.0,1.0,0,Train,1,1,1,0,0,1
4,0.0,6000.0,0.0,141.0,360.0,1.0,0,Train,1,0,0,0,0,1
5,2.0,5417.0,4196.0,248.5,360.0,1.0,0,Train,1,1,0,1,0,1
6,0.0,2333.0,1516.0,95.0,360.0,1.0,0,Train,1,1,1,0,0,1
7,3.0,3036.0,2504.0,158.0,360.0,0.0,1,Train,1,1,0,0,1,0
8,2.0,4006.0,1526.0,168.0,360.0,1.0,0,Train,1,1,0,0,0,1
9,1.0,9477.5,5912.5,248.5,360.0,1.0,1,Train,1,1,0,0,1,0
10,2.0,3200.0,700.0,70.0,360.0,1.0,0,Train,1,1,0,0,0,1
11,2.0,2500.0,1840.0,109.0,360.0,1.0,0,Train,1,1,0,0,0,1
12,2.0,3073.0,5912.5,200.0,360.0,1.0,0,Train,1,1,0,0,0,1
13,0.0,1853.0,2840.0,114.0,360.0,1.0,1,Train,1,0,0,0,0,0
14,2.0,1299.0,1086.0,17.0,120.0,1.0,0,Train,1,1,0,0,0,1
15,0.0,4950.0,0.0,125.0,360.0,1.0,0,Train,1,0,0,0,0,1
16,1.0,3596.0,0.0,100.0,240.0,1.0,0,Train,1,0,1,0,0,1
17,0.0,3510.0,0.0,76.0,360.0,0.0,1,Train,0,0,0,0,0,1
18,0.0,4887.0,0.0,133.0,360.0,1.0,1,Train,1,1,1,0,0,0
19,0.0,2600.0,3500.0,115.0,360.0,1.0,0,Train,1,1,0,0,0,1
20,0.0,7660.0,0.0,104.0,360.0,0.0,1,Train,1,1,1,0,0,1
21,1.0,5955.0,5625.0,248.5,360.0,1.0,0,Train,1,1,0,0,0,1
22,0.0,2600.0,1911.0,116.0,360.0,0.0,1,Train,1,1,1,0,1,0
23,2.0,3365.0,1917.0,112.0,360.0,0.0,1,Train,1,1,1,0,0,0
24,1.0,3717.0,2925.0,151.0,360.0,1.0,1,Train,1,1,0,0,1,0
25,0.0,9477.5,0.0,191.0,360.0,1.0,0,Train,1,1,0,1,1,0
26,0.0,2799.0,2253.0,122.0,360.0,1.0,0,Train,1,1,0,0,1,0
27,2.0,4226.0,1040.0,110.0,360.0,1.0,0,Train,1,1,1,0,0,1
28,0.0,1442.0,0.0,35.0,360.0,1.0,1,Train,1,0,1,0,0,1
29,2.0,3750.0,2083.0,120.0,360.0,1.0,0,Train,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,0.0,2292.0,1558.0,119.0,360.0,1.0,0,Test,1,1,0,0,0,1
338,1.0,2360.0,3355.0,87.0,240.0,1.0,0,Test,1,1,0,1,0,0
339,0.0,4333.0,2333.0,162.0,360.0,0.0,1,Test,0,0,0,0,0,0
340,0.0,2623.0,4831.0,122.0,180.0,1.0,0,Test,1,1,0,1,1,0
341,0.0,3972.0,4275.0,187.0,360.0,1.0,0,Test,1,0,0,1,0,0
342,3.0,3522.0,0.0,81.0,180.0,1.0,1,Test,1,1,1,0,0,0
343,1.0,4700.0,0.0,80.0,360.0,1.0,0,Test,1,1,0,0,0,1
344,0.0,6858.0,0.0,176.0,360.0,1.0,0,Test,1,0,0,0,0,0
345,3.0,8334.0,0.0,248.5,360.0,1.0,0,Test,1,1,0,0,0,1
346,0.0,3391.0,1966.0,133.0,360.0,0.0,1,Test,1,1,0,0,0,0
347,0.0,2868.0,0.0,70.0,360.0,1.0,0,Test,1,0,1,0,0,1
348,2.0,3418.0,1380.0,135.0,360.0,1.0,0,Test,1,1,1,0,0,1
349,0.0,2500.0,296.0,137.0,300.0,1.0,0,Test,1,1,0,1,0,0
350,2.0,8667.0,0.0,248.5,360.0,1.0,0,Test,1,1,0,0,0,0
351,0.0,2283.0,5912.5,106.0,360.0,1.0,0,Test,1,0,0,0,0,0
352,0.0,5817.0,910.0,109.0,360.0,1.0,0,Test,1,1,0,0,0,1
353,0.0,5119.0,3769.0,120.0,360.0,1.0,0,Test,1,1,0,0,0,0
354,3.0,5316.0,187.0,158.0,180.0,0.0,0,Test,1,1,1,0,1,0
355,3.0,7603.0,1213.0,197.0,360.0,1.0,0,Test,1,1,0,0,0,1
356,1.0,3791.0,1936.0,85.0,360.0,1.0,0,Test,1,1,0,0,0,1
357,0.0,2500.0,0.0,60.0,360.0,1.0,0,Test,1,0,0,0,0,1
358,2.0,3132.0,0.0,76.0,360.0,1.0,0,Test,1,1,1,0,0,0
359,0.0,4000.0,2667.0,152.0,360.0,1.0,0,Test,1,0,0,0,1,0
360,0.0,8550.0,4255.0,96.0,360.0,1.0,0,Test,0,1,0,0,0,1
361,1.0,2269.0,2167.0,99.0,360.0,1.0,0,Test,1,1,0,0,1,0
362,3.0,4009.0,1777.0,113.0,360.0,1.0,0,Test,1,1,1,1,0,1
363,0.0,4158.0,709.0,115.0,360.0,1.0,0,Test,1,1,0,0,0,1
364,0.0,3250.0,1993.0,126.0,360.0,1.0,0,Test,1,0,0,0,1,0
365,0.0,5000.0,2393.0,158.0,360.0,1.0,1,Test,1,1,0,0,0,0
366,0.0,9200.0,0.0,98.0,180.0,1.0,0,Test,1,0,0,1,0,0

In [31]:
train=full_data2.loc[full_data2.Source=='Train',].drop('Source',axis=1).copy()

In [32]:
test=full_data2.loc[full_data2.Source=='Test',].drop('Source',axis=1).copy()

In [33]:
train.columns

Index(['Dependents', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Loan_Status', 'Gender_Male',
       'Married_Yes', 'Education_Not Graduate', 'Self_Employed_Yes',
       'Property_Area_Semiurban', 'Property_Area_Urban'],
      dtype='object')

In [34]:
train_x=train.drop('Loan_Status',axis= 1).copy()
train_y=train['Loan_Status'].copy()
test_x=test.drop('Loan_Status',axis= 1).copy()
test_y=test['Loan_Status'].copy()

In [35]:
#build a model on svm

In [36]:
from sklearn.svm import SVC
from sklearn.metrics import classification_report

In [37]:
M1=SVC()

In [38]:
M1_model=M1.fit(train_x,train_y)

In [39]:
Test_Pred=M1_model.predict(test_x)

In [40]:
#Test_Pred

In [41]:
from sklearn.metrics import confusion_matrix

In [42]:
confusion_mat=confusion_matrix(test_y,Test_Pred)

In [43]:
confusion_mat

array([[289,   1],
       [ 76,   1]])

In [44]:
report=classification_report(test_y,Test_Pred)

In [45]:
print(report)

             precision    recall  f1-score   support

          0       0.79      1.00      0.88       290
          1       0.50      0.01      0.03        77

avg / total       0.73      0.79      0.70       367

In [46]:
#precision=(TP/TP+FP) recall=TPR=TP/total actual positive [0-100%]

#f1-score=Harmonic average(precision,recall) [0-100%]

#f1-score>0.7 better

In [47]:
(2*0.85*0.2)/(0.85+0.2)

0.3238095238095238

"""
classification:

Metric   Nature Bounds
TPR       inc.   0-1
FPR       dec.   0-1
Accu.     inc.   0-1
Precision inc.   0-1
Recall    inc.   0-1
f1-score  inc.   0-1
AUC       inc.   0-1

"""

In [48]:
#M2=SVC(C=0.55,kernel='poly',gamma=0.8)

In [49]:
#M2_Model=M2.fit(train_x,train_y)

In [50]:
#C=0.2,0.4, Kernel='rbf','poly',  gamma=0.1,0.2,0.3
#create a dataframe with C Kernal gamma Accuracy

In [51]:
#modeling using grid search

In [52]:
from sklearn.model_selection import GridSearchCV

In [53]:
my_param_grid={'C':[1,2], 'gamma':[0.01,0.1],'kernel':['sigmoid','rbf']}

In [55]:
SVM_GS=GridSearchCV(SVC(),param_grid=my_param_grid,scoring='accuracy',cv=3)

In [56]:
SVM_GS_Model=SVM_GS.fit(train_x,train_y)

In [ ]:
SVM_GS_Model.cv_results_

In [57]:
SVM_Grid_Search_DF=pd.DataFrame.from_dict(SVM_GS_Model.cv_results_)

In [60]:
SVM_Grid_Search_DF.shape

(8, 19)

In [64]:
SVM_Grid_Search_DF.head()

,mean_fit_time,mean_score_time,mean_test_score,mean_train_score,param_C,param_gamma,param_kernel,params,rank_test_score,split0_test_score,split0_train_score,split1_test_score,split1_train_score,split2_test_score,split2_train_score,std_fit_time,std_score_time,std_test_score,std_train_score
0,0.002170,0.005203,0.687296,0.687296,1,0.01,sigmoid,"{'C': 1, 'gamma': 0.01, 'kernel': 'sigmoid'}",1,0.687805,0.687042,0.687805,0.687042,0.686275,0.687805,0.003069,0.007358,0.000721,0.000360
1,0.028783,0.007998,0.677524,0.976385,1,0.01,rbf,"{'C': 1, 'gamma': 0.01, 'kernel': 'rbf'}",7,0.678049,0.982885,0.687805,0.970660,0.666667,0.975610,0.003387,0.006530,0.008634,0.005021
2,0.005332,0.001333,0.687296,0.687296,1,0.1,sigmoid,"{'C': 1, 'gamma': 0.1, 'kernel': 'sigmoid'}",1,0.687805,0.687042,0.687805,0.687042,0.686275,0.687805,0.001884,0.001885,0.000721,0.000360
3,0.020751,0.009836,0.685668,0.987787,1,0.1,rbf,"{'C': 1, 'gamma': 0.1, 'kernel': 'rbf'}",5,0.678049,0.990220,0.692683,0.987775,0.686275,0.985366,0.001065,0.002996,0.005995,0.001982
4,0.012625,0.000000,0.687296,0.687296,2,0.01,sigmoid,"{'C': 2, 'gamma': 0.01, 'kernel': 'sigmoid'}",1,0.687805,0.687042,0.687805,0.687042,0.686275,0.687805,0.004241,0.000000,0.000721,0.000360

In [65]:
from pandas import ExcelWriter

writer = ExcelWriter('Matrix.xlsx')

In [66]:
SVM_Grid_Search_DF.to_excel(writer)

In [67]:
writer.save()

In [68]:
?GridSearchCV()